
@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 mt-3 mb-3">
    <div class="card" style="width:95%">
        <div class="card-body">
            <a class="btn btn-info" href="/FAMSDEALER/Supplier/Index">Supplier Info</a>
            <a class="btn btn-info" href="/FAMSDEALER/Supplier/Contacts">Contacts</a>
            <a class="btn btn-info" href="/FAMSDEALER/Supplier/Address">Address</a>
        </div>
    </div>
</div>

<div class="col-12" style="width:95%">
    <form action="/" method="post">

        <div id="Contacts" class="tabcontent" style="padding-left:1px;padding-right:1px">

            <div class="card-title" style="border:solid 0px;padding-left:3px"><h4>Contacts</h4></div>

            <div class="form-group row">
                <label for="personName" class="col-sm-3 col-form-label text-right">Person Name<span style="color:red">*</span></label>
                <div class="col-sm-9">
                    <input type="text" maxlength="100" class="form-control" name="personName" id="personName" value="">
                </div>
            </div>

            <div class="form-group row">
                <label for="PhoneNumber" class="col-sm-3 col-form-label text-right">Phone Number<span style="color:red">*</span></label>
                <div class="col-sm-9">
                    <input type="number" maxlength="20" class="form-control" name="phoneNumber" id="phoneNumber" value="">
                    <input type="hidden" id="contactid" name="contactid" />
                </div>
            </div>

            <div class="form-group row">
                <label for="MobileNumber" maxlength="20" class="col-sm-3 col-form-label text-right">Mobile Number</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" name="mobileNumber" id="mobileNumber" value="">
                </div>
            </div>

            <div class="form-group row">
                <label for="Department" class="col-sm-3 col-form-label text-right">Department</label>
                <div class="col-sm-9">
                    <input type="text" maxlength="100" class="form-control" name="Department" id="Department" value="">
                </div>
            </div>

            <div class="form-group row">
                <label for="Designation" class="col-sm-3 col-form-label text-right">Designation</label>
                <div class="col-sm-9">
                    <input type="text" maxlength="100" class="form-control" name="Designation" id="Designation" value="">
                </div>
            </div>


            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <button type="button" onclick="AddContactInfo()" value="Addcon" title="Add" class="btn btn-success  ml-1" style="float:right; margin-top:5px;"><i class="fas fa-plus fa-w-1"></i></button>&nbsp;&nbsp;
                    <button type="button" onclick="RefreshContact()" value="Refreshcon" title="Refresh" class="btn btn-success ml-1" style="float:right; margin-top:5px;"><i class="fas fa-circle-notch"></i></button>
                </div>

            </div>
            <div class="row">

                <div class="col-md-12">
                    <h5 class="card-title pull-left col-md-12 col-form-label " style="color: black;margin-left:0px;padding-left:0px;">Contact Details</h5>

                    <input type="hidden" id="IsEditCon" name="IsEditCon" value="0" />
                    <table class="table table-responsive col-form-label " id="tblcontactDetails" data-parsley-required="true">
                        <thead style="width:100%">
                            <tr>
                                <th width="10%">Person Name</th>
                                <th width="10%">Phone</th>
                                <th width="10%">Mobile</th>
                                <th width="10%">Department</th>
                                <th width="10%">Designation</th>
                                <th width="10%"><span>Action</span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>


            <br />
            <br />
        </div>
    </form>
</div>

